<div class="map" *ngIf="game">
  <button (click)="startGame()">Start</button>
  <button (click)="stopGame()">Stop</button>
  <button (click)="setupGame()">Reset</button>
  <button (click)="debugPlayer()">Debug {{ debug }}</button>
  <h1>round {{ game.round }} - time {{ game.time }}</h1>
  <div>
    <label for="minWeigth">
    Min Weigth
    <input type="text" name="minWeigth" [(ngModel)]="minWeigth">
    </label>
  </div>
  <div>
    <label for="maxWeigth">
    Max Weigth
    <input type="text" name="maxWeigth" [(ngModel)]="maxWeigth">
    </label>
  </div>
  <div>
    <label for="totalPlayers">
      Total Players
      <input type="range" name="totalPlayers" max="500" min="1" [(ngModel)]="totalPlayers"> {{ totalPlayers }}
    </label>
  </div>
  <div>
    <label for="gameSpeed">
      Game Speed
      <input type="range" name="gameSpeed" max="1000" min="3" [(ngModel)]="game.speed"> {{ game.speed }}
    </label>
  </div>
  <div>
    <label for="timeout">
      Game timeout
      <input type="range" name="timeout" max="50" min="10" [(ngModel)]="game.timeout"> {{ game.timeout }}
    </label>
  </div>

  <div>
    <label for="MutationRate">
      Mutation Rate
      <input type="range" name="mutationRate" [(ngModel)]="mutationRate"> {{ mutationRate / 100 }}
    </label>
  </div>
  <div class="row" *ngFor="let row of game.map; let indexRow = index">
    <div class="column"*ngFor="let tile of row; let indexCol = index">
      <div class="tile" [ngClass]="{'oldBestplayer': tile.oldBestPlayer}" style="cursor: pointer;" (click)="setObjetive(indexRow, indexCol)">
        <div class="player" [ngStyle]="{'background-color': tile.players[0].color}" *ngIf="tile.players.length" style="color: white; font-weight: bold; text-align: center;"> {{ tile.players.length }} </div>
      </div>
    </div>
  </div>
  <p>{{ mutation }}</p>
  <div *ngFor="let p of players1; let index = index">
    {{ index }} - {{ p.mutationRate }}
  </div>
</div>